@font-face {
  font-family: "Lato", sans-serif; /*LatoBold*/
  src: url("https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap");
  font-style: normal;
  font-weight: bold;
}
@font-face {
  font-family: "Lato", sans-serif; /*Lato900*/
  src: url("https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap");
  font-style: normal;
  font-weight: 900;
}
@font-face {
  font-family: "Lato", sans-serif; /*Lato300*/
  src: url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: "Lato", sans-serif; /*Lato400*/
  src: url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
  font-style: normal;
  font-weight: 400;
}
