@font-face {
  font-family: "LatoBold";
  src: url("./fonts/lato/Lato-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: bold;
}
@font-face {
  font-family: "Lato900";
  src: url("./fonts/lato/Lato-Black.ttf") format("truetype");
  font-style: normal;
  font-weight: 900;
}
@font-face {
  font-family: "Lato300";
  src: url("./fonts/lato/Lato-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: "Lato400";
  src: url("./fonts/lato/Lato-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}
