@import url("fonts.css");

:root {
  --wite: #ffffff;
  --active-item-navigation: #f06c64;
  --section-headers: #666d89;
  --simple-text: #767e9e;
  --portfolio-active-item: #dedede;
  --dark-background: #2d303a;
  --slider-main-background: #f06c64;
  --slider-main-shifted: #648bf0;
  --lite-background: #f2f2f2;
  --bprder-dark-color: #323746;
  --bprder-slider-main-color: #ea676b;
  --arrow-color: #e94348;
  --shade-color: #cd5d56;
}

/* .display {
  display: none;
} */

html {
  font-size: 10px;
  scroll-behavior: smooth;
}
* {
  margin: 0;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hamburger-wrapper {
  display: none;
}
.rotate {
  transform: rotate(90deg);
}
.hamburger {
  width: 25px;
  height: 20px;
  position: relative;
}
.hamburger_line {
  display: inline-block;
  background: var(--wite);
  border-radius: 5px;
  height: 2.4px;
  width: 100%;
  position: absolute;
  left: 0px;
  top: calc(50% - 1.5px);
}
.hamburger::before {
  content: "";
  display: inline-block;
  background: var(--wite);
  border-radius: 5px;
  height: 3px;
  width: 100%;
  position: absolute;
  left: 0px;
  top: 0;
}
.hamburger::after {
  content: "";
  display: inline-block;
  background: var(--wite);
  border-radius: 5px;
  height: 3px;
  width: 100%;
  position: absolute;
  left: 0px;
  bottom: 0px;
}
.h2 {
  font-family: "Lato900";
  font-size: 3rem;
  line-height: 3.6rem;
  text-transform: capitalize;
  color: var(--section-headers);
  letter-spacing: -0.006em;
}
.information {
  font-family: "Lato300";
  font-size: 1.8rem;
  line-height: 3rem;
  color: var(--simple-text);
}
/* .wrapper {
  max-width: 1020px;
  min-width: 320px;
} */
.text {
  overflow: hidden;
}

/* Header */
.header {
  width: 100vw;
  background-color: var(--dark-background);
  border-bottom: solid 6px var(--bprder-dark-color);
  display: flex;
  justify-content: center;
}
.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0 29px;
  /* width: 940px; */
  width: 92.156%;
}
.logo {
  position: relative;
  font-family: "LatoBold";
  font-size: 2.5rem;
  line-height: 3rem;
  letter-spacing: -0.03em;
  text-transform: uppercase;
}
.logo__text {
  color: var(--wite);
}
.logo_star {
  position: absolute;
  top: 0;
  right: top;
  color: var(--active-item-navigation);
}
.navigation {
  display: flex;
  justify-content: space-between;
  font-family: "LatoBold";
  padding-top: 11px;
  width: 375px;
  font-size: 1.2rem;
  line-height: 1.4rem;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: var(--wite);
}
.navigation > .navigation__item {
  list-style: none;
}
.navigation__link:not(.navigation__active-item):hover {
  text-decoration: underline;
  cursor: pointer;
}
.navigation__link {
  text-decoration: none;
  color: var(--wite);
  position: relative;
}
.navigation__link:before {
  content: ".";
  position: absolute;
  top: -0.35rem;
  left: -1.75rem;
}
.navigation__first-item:before {
  content: " ";
}
.navigation__active-item {
  color: var(--active-item-navigation);
}

/* Menu-375 */
.menu-375-hidden {
  display: none;
}
.menu-375 {
  position: absolute;
  top: 70px;
  left: 0;
  z-index: 1;
  width: 278px;
  height: calc(100vh - 71px);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: var(--dark-background);
  z-index: 10;
}
.menu-375__list-holder {
  list-style: none;
  margin-right: 71px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  font-family: "LatoBold";
  padding-bottom: 10px;
  font-size: 2.4rem;
  line-height: 2.9rem;
  letter-spacing: -0.035em;
  text-transform: uppercase;
}
.menu-375__item {
  text-decoration: none;
  color: var(--wite);
}
.menu-375__active-item {
  color: var(--slider-main-background);
}

@keyframes pulse {
  0% {
    transform: translateX(0vw);
  }
  50% {
    transform: translateX(50vw);
  }
  100% {
    transform: translateX(100vw);
  }
}
.slider__element {
  position: absolute;
  top: 0px;
  left: -100vw;
  z-index: 1;
  width: 100vw;
  height: 101%;
  background: url(./image/slider/Slider.png) no-repeat center, #648bf0;
}
.slider__element1 {
  animation-name: pulse;
  animation-duration: 5s;
  animation-timing-function: ease-out;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes pulse2 {
  0% {
    transform: translateX(200vw);
  }
  50% {
    transform: translateX(150vw);
  }
  100% {
    transform: translateX(100vw);
  }
}
.slider__element2 {
  animation-name: pulse2;
  animation-duration: 5s;
  animation-timing-function: ease-out;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}
@keyframes pulse3 {
  0% {
    transform: translateX(100vw);
  }
  50% {
    transform: translateX(150vw);
  }
  100% {
    transform: translateX(200vw);
  }
}
.slider__element3 {
  animation-name: pulse3;
  animation-duration: 5s;
  animation-timing-function: ease-out;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}
@keyframes pulse4 {
  0% {
    transform: translateX(100vw);
  }
  50% {
    transform: translateX(50vw);
  }
  100% {
    transform: translateX(0vw);
  }
}
.slider__element4 {
  animation-name: pulse4;
  animation-duration: 5s;
  animation-timing-function: ease-out;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

/* Slider */
.slider {
  width: 100vw;
  background-color: var(--slider-main-background);
  border-bottom: solid 6px var(--bprder-slider-main-color);
  display: flex;
  justify-content: center;
  position: relative;
}
.slider__wrapper {
  /* width: 940px; */
  width: 92.156%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 54px;
  padding-bottom: 82px;
}
.wrapper-arrow-left {
  padding-top: 28px;
  padding-left: 2.5px;
  z-index: 10;
}
.arrow {
  width: 15px;
  height: 15px;
  border-top: 5px solid var(--arrow-color);
  border-right: 5px solid var(--arrow-color);
  border-radius: 3px;
}
.arrow:hover {
  border-top: 5px solid var(--wite);
  border-right: 5px solid var(--wite);
}
.arrow-left {
  transform: rotate(-135deg);
}
.vertical-phone-wrapper {
  /* width: 216px; */
  width: 22.9787%;
  padding-right: 47px;
}
.vertical-phone {
  width: 188px;
  padding: 65px 14px 60px;
  background: url(./image/slider/phone-vertical.png) no-repeat;
  border-radius: 25px;
  box-shadow: 24px 24px 1px 1px var(--shade-color);
}
.vertical-phone__screen {
  width: 188px;
  padding: 166.5px 0px;
  background: url(./image/slider/phone-vertical-display.png);
}
.horizontal-phone-wrapper {
  /* width: 483px; */
  width: 51.3829%;
  padding-top: 4px;
}
.horizontal-phone {
  width: 333px;
  padding: 14px 65px 14px 60px;
  background: url(./image/slider/phone-horizontal.png) no-repeat;
  border-radius: 25px;
  box-shadow: 24px 24px 1px 1px var(--shade-color);
}
.horizontal-phone__screen {
  width: 333px;
  padding: 94px 0px;
  background: url(./image/slider/phone-horizontal-display.png);
}
.wrapper-arrow-right {
  padding-top: 28px;
  padding-right: 3px;
  z-index: 10;
}
.arrow-right {
  transform: rotate(45deg);
}

/* Services */
.services {
  width: 100vw;
  background-color: var(--lite-background);
  border-bottom: solid 6px var(--wite);
  display: flex;
  justify-content: center;
  padding-top: 59px;
  padding-bottom: 28px;
}
.services__wrapper {
  /* width: 940px; */
  width: 92.156%;
}
.services__header {
  padding-bottom: 18px;
}
.services__information {
  padding-bottom: 47.5px;
}
.services-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-left: 0;
}
.services__item {
  display: flex;
  justify-content: space-between;
  width: 32%;
  padding-bottom: 31px;
}
.services__icon {
  /* width: 60px; */
  width: 20%;
  /* padding: 30px 0; */
  padding: 10% 0;
}
.services__icon1 {
  background: url(./image/services/services-item-pencil.png) no-repeat;
}
.services__icon2 {
  background: url(./image/services/services-item-lightbulb.png) no-repeat;
}
.services__icon3 {
  background: url(./image/services/services-item-heart.png) no-repeat;
}
.services__icon4 {
  background: url(./image/services/services-item-phone.png) no-repeat;
}
.services__icon5 {
  background: url(./image/services/services-item-thought.png) no-repeat;
}
.services__icon6 {
  background: url(./image/services/services-item-star.png) no-repeat;
}
.services_text {
  width: 73.2%;
}
.services__name {
  font-family: "Lato900";
  font-size: 1.8rem;
  line-height: 1.8rem;
  text-transform: capitalize;
  color: var(--section-headers);
  padding-bottom: 10px;
  letter-spacing: -0.012em;
}
.services_description {
  font-family: "Lato400";
  font-size: 1.2rem;
  line-height: 2.15rem;
  color: var(--simple-text);
  text-align: justify;
  letter-spacing: 0.02em;
  overflow: hidden;
  letter-spacing: -0.008em;
}

/* Portfolio */
.portfolio {
  width: 100vw;
  background-color: var(--dark-background);
  border-bottom: solid 6px var(--bprder-dark-color);
  display: flex;
  justify-content: center;
  padding-top: 59px;
}
.portfolio__wrapper {
  /* width: 940px; */
  width: 92.156%;
}
.portfolio__header {
  padding-bottom: 18px;
}
.portfolio__information {
  padding-bottom: 11.5px;
}
.portfolio__filter-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 290px;
  padding-bottom: 18px;
}
.portfolio__item {
  font-family: "Lato400";
  font-size: 1.25rem;
  line-height: 2rem;
  padding: 0px 5.5px;
  color: var(--simple-text);
  border: 1px solid var(--simple-text);
  border-radius: 5px;
  letter-spacing: -0.01em;
}
.portfolio__item:not(.portfolio__active-item):hover {
  color: var(--wite);
  border: 1px solid var(--wite);
  cursor: pointer;
}
.portfolio__active-item {
  color: var(--portfolio-active-item);
  border: 1px solid var(--portfolio-active-item);
}
.portfolio__pictures-holder {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 48px;
}
.portfolio__picture {
  width: 23.4%;
  padding: 103.5px 0px;
}
.portfolio__picture:nth-child(1n + 13) {
  display: none;
}
.portfolio__picture1 {
  background: url(./image/portfolio/portfolio-1.png) no-repeat;
}
.portfolio__picture2 {
  background: url(./image/portfolio/portfolio-2.png) no-repeat;
}
.portfolio__picture3 {
  background: url(./image/portfolio/portfolio-3.png) no-repeat;
}
.portfolio__picture4 {
  background: url(./image/portfolio/portfolio-4.png) no-repeat;
}
.portfolio__picture5 {
  background: url(./image/portfolio/portfolio-5.png) no-repeat;
}
.portfolio__picture6 {
  background: url(./image/portfolio/portfolio-6.png) no-repeat;
}
.portfolio__picture7 {
  background: url(./image/portfolio/portfolio-7.png) no-repeat;
}
.portfolio__picture8 {
  background: url(./image/portfolio/portfolio-8.png) no-repeat;
}
.portfolio__picture9 {
  background: url(./image/portfolio/portfolio-9.png) no-repeat;
}
.portfolio__picture10 {
  background: url(./image/portfolio/portfolio-10.png) no-repeat;
}
.portfolio__picture11 {
  background: url(./image/portfolio/portfolio-11.png) no-repeat;
}
.portfolio__picture12 {
  background: url(./image/portfolio/portfolio-12.png) no-repeat;
}
/* Footer */
.footer {
  width: 100vw;
  display: flex;
  justify-content: center;
  padding-top: 22px;
  padding-bottom: 22px;
  background-color: var(--dark-background);
}
.footer__wrapper {
  /* width: 940px; */
  width: 92.156%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__description {
  font-family: "Lato900";
  font-size: 1.3rem;
  line-height: 1.8rem;
  color: var(--section-headers);
}
.social-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 152px;
}
.social-buttons__icon {
  width: 32px;
  padding: 16px 0px;
}
.social-buttons__facebook {
  background: url(./image/footer/ico-facebook.png);
}
.social-buttons__google-plus {
  background: url(./image/footer/ico-google-plus.png);
}
.social-buttons__twitter {
  background: url(./image/footer/ico-twitter.png);
}
.social-buttons__linkedin {
  background: url(./image/footer/ico-linkedin.png);
}
.social-buttons__icon:hover {
  filter: grayscale(100%);
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .header__wrapper {
    width: 688px;
    padding: 29px 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .h2 {
    letter-spacing: 0em;
  }
  .information {
    font-family: "Lato300";
    font-size: 1.8rem;
    line-height: 3rem;
    color: var(--simple-text);
    letter-spacing: -0.044rem;
  }
  .navigation {
    margin-left: 20px;
    padding-top: 6.5px;
    padding-right: 0;
    font-size: 1.18rem;
    line-height: 1.4rem;
    letter-spacing: -0.03em;
  }
  .navigation__link:before {
    content: ".";
    position: absolute;
    top: -0.35rem;
    left: -1.75rem;
  }
  .navigation__first-item:before {
    content: " ";
  }
  .slider__wrapper {
    width: 711px;
    padding: 40px 0 61px;
    margin-left: 3px;
  }
  .wrapper-arrow-left {
    padding-top: 28px;
    margin-left: 0px;
  }
  .vertical-phone-wrapper {
    width: 162.36px;
    margin-left: 0px;
    padding-right: 0px;
    border-radius: 18px;
  }
  .vertical-phone {
    width: 142.16px; /*162.36px*/
    padding: 49.01px 10.08px 44.52px 10.12px;
    background: url(./image/tablet/Slider/phone-vertical.png) no-repeat;
    border-radius: 18px;
    box-shadow: 18px 18px 1px 1px var(--shade-color);
  }
  .vertical-phone__screen {
    width: 141.55px;
    padding: 125.365px 0px;
    background: url(./image/tablet/Slider/phone-vertical-display.png);
  }
  .horizontal-phone-wrapper {
    width: 344.26px;
    padding-left: 0px;
    margin-right: 26px;
    margin-left: 36px;
  }
  .horizontal-phone {
    width: 250.72px;
    padding: 10.21px 47.89px 10.4px 45.67px;
    background: url(./image/tablet/Slider/phone-horizontal.png) no-repeat;
    border-radius: 18px;
    box-shadow: 18px 18px 1px 1px var(--shade-color);
    margin-left: 5px;
  }
  .horizontal-phone__screen {
    width: 250.72px;
    padding: 70.775px 0px;
    background: url(./image/tablet/Slider/phone-horizontal-display.png);
  }
  .wrapper-arrow-right {
    padding-top: 28px;
    margin: 0px;
  }
  .services {
    padding-top: 40.5px;
    padding-left: 2px;
    padding-bottom: 17px;
  }
  .services__wrapper {
    width: 687px;
  }
  .services__information {
    padding-bottom: 36.3px;
    letter-spacing: 0px;
  }
  .services-list {
    padding-right: 34px;
  }
  .services__item {
    display: flex;
    justify-content: space-between;
    width: 46%;
    padding-bottom: 50px;
  }
  .services__name {
    font-family: "Lato900";
    font-size: 1.81rem;
    line-height: 1.85rem;
    text-transform: capitalize;
    color: var(--section-headers);
    padding-bottom: 9.5px;
    letter-spacing: 0rem;
  }
  .services_description {
    letter-spacing: 0em;
    line-height: 2.2rem;
  }
  .portfolio {
    padding-top: 59.5px;
  }
  .portfolio__wrapper {
    width: 686px;
    padding-left: 1px;
  }
  .portfolio__header {
    padding-bottom: 17px;
  }
  .portfolio__information {
    padding-bottom: 12px;
    padding-right: 20px;
    letter-spacing: 0px;
  }
  .portfolio__filter-list {
    padding-bottom: 28px;
  }
  .portfolio__pictures-holder {
    margin-left: -2px;
  }
  .portfolio__picture {
    width: 31.5%;
    padding: 101.6px 0px;
  }
  .portfolio__picture1 {
    background: url(./image/tablet/portfolio/portfolio-1.png) no-repeat;
  }
  .portfolio__picture2 {
    background: url(./image/tablet/portfolio/portfolio-2.png) no-repeat;
  }
  .portfolio__picture3 {
    background: url(./image/tablet/portfolio/portfolio-3.png) no-repeat;
  }
  .portfolio__picture4 {
    background: url(./image/tablet/portfolio/portfolio-4.png) no-repeat;
  }
  .portfolio__picture5 {
    background: url(./image/tablet/portfolio/portfolio-5.png) no-repeat;
  }
  .portfolio__picture6 {
    background: url(./image/tablet/portfolio/portfolio-6.png) no-repeat;
  }
  .portfolio__picture7 {
    background: url(./image/tablet/portfolio/portfolio-7.png) no-repeat;
  }
  .portfolio__picture8 {
    background: url(./image/tablet/portfolio/portfolio-8.png) no-repeat;
  }
  .portfolio__picture9 {
    background: url(./image/tablet/portfolio/portfolio-9.png) no-repeat;
  }
  .portfolio__picture10 {
    background: url(./image/tablet/portfolio/portfolio-10.png) no-repeat;
  }
  .portfolio__picture11 {
    background: url(./image/tablet/portfolio/portfolio-11.png) no-repeat;
  }
  .portfolio__picture12 {
    background: url(./image/tablet/portfolio/portfolio-12.png) no-repeat;
  }
  .footer__wrapper {
    width: 686px;
    padding-top: 2px;
  }
}

@media screen and (max-width: 376px) {
  .wrapper {
    width: 100vw;
    display: flex;
    justify-content: center;
  }
  .header {
    border-bottom: solid 6px var(--dark-background);
    width: 100vw;
  }
  .header__wrapper {
    width: 100vw;
    position: relative;
    padding: 24.5px 0 16px 3px;
    display: flex;
    justify-content: center;
  }
  .hamburger {
    display: inline-block;
  }
  .hamburger-wrapper {
    display: inline-block;
    position: absolute;
    left: 21px;
    top: calc(50% - 6px);
  }

  /* menu-375-hidden {
    display: none;
  } */
  .header-navigation {
    position: absolute;
    top: 70px;
    left: 0;
    z-index: 1;
    width: 278px;
    height: calc(100vh - 71px);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: var(--dark-background);
    z-index: 10;
  }
  .header-navigation-hidden {
    display: none;
  }
  .navigation {
    list-style: none;
    margin-right: 71px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    font-family: "LatoBold";
    padding-bottom: 10px;
    font-size: 2.4rem;
    line-height: 2.9rem;
    letter-spacing: -0.035em;
    text-transform: uppercase;
  }
  .navigation__item {
    text-decoration: none;
    color: var(--wite);
  }
  .navigation__active-item {
    color: var(--slider-main-background);
  }
  .navigation__link:before {
    content: " ";
  }

  .logo {
    position: relative;
    font-family: "LatoBold";
    font-size: 1.96rem;
    line-height: 2.4rem;
    letter-spacing: -0.03em;
    text-transform: uppercase;
  }
  .slider {
    width: 100vw;
    border-bottom: solid 6px var(--slider-main-background);
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: center;
  }
  .slider__wrapper {
    width: 93.2vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px;
    padding: 19.5px 0px 27.5px 0.33px;
  }
  .wrapper-arrow-left {
    padding: 0px;
    padding-top: 15px;
    margin: 0;
  }
  .arrow {
    width: 13px;
    height: 13px;
    border-top: 5px solid var(--arrow-color);
    border-right: 5px solid var(--arrow-color);
  }
  .vertical-phone-wrapper {
    box-sizing: border-box;
    width: 79.28px;
  }
  .vertical-phone {
    width: 69.12px; /*79.28px*/
    padding: 23.93px 4.94px 21.74px 5.22px;
    background: url(./image/mobile375/slider/phone-vertical.png) no-repeat;
    box-shadow: 10px 10px 1px 1px var(--shade-color);
    border-radius: 10px;
    margin-left: 8.6px;
  }
  .vertical-phone__screen {
    width: 69.12px;
    padding: 61.215px 0px;
    background: url(./image/mobile375/slider/phone-vertical-display.png);
  }
  .horizontal-phone-wrapper {
    box-sizing: border-box;
    width: 168.1px;
  }
  .horizontal-phone {
    width: 122.43px;
    padding: 5.26px 23.25px 4.9px 22.32px;
    background: url(./image/mobile375/slider/phone-horizontal.png) no-repeat;
    box-shadow: 10px 10px 1px 1px var(--shade-color);
    border-radius: 10px;
    margin-left: 7px;
    margin-bottom: 2px;
  }
  .horizontal-phone__screen {
    width: 122.43px;
    padding: 34.56px 0px;
    background: url(./image/mobile375/slider/phone-horizontal-display.png);
  }
  .wrapper-arrow-right {
    padding: 0px;
    padding-top: 15px;
    margin: 0;
  }
  .services {
    width: 100vw;
    padding-top: 26px;
    padding-left: 3px;
    padding-bottom: 0px;
    border-bottom: solid 6px var(--lite-background);
  }
  .services__wrapper {
    width: 83.7%;
  }
  .services__information {
    padding-bottom: 28px;
  }
  .services-list {
    padding-right: 15px;
  }
  .services__item {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 25px;
  }
  .services__item:last-child {
    padding-bottom: 20px;
  }
  .services__icon {
    width: 60px;
    padding: 30px 0;
  }
  .services_text {
    width: 73%;
  }
  .services__name {
    padding-bottom: 10px;
  }
  .services_description {
    letter-spacing: 0em;
    line-height: 2.2rem;
    text-align: justify;
  }
  .portfolio {
    width: 100vw;
    padding-top: 43px;
    border-bottom: solid 6px var(--dark-background);
  }
  .portfolio__wrapper {
    width: 84%;
  }
  .portfolio__filter-list {
    padding-bottom: 25.5px;
  }
  .portfolio__header {
    padding-bottom: 18px;
  }
  .portfolio__information {
    padding-bottom: 14px;
    padding-right: 0px;
  }
  .portfolio__pictures-holder {
    padding-left: 2px;
    padding-bottom: 21px;
  }
  .portfolio__picture {
    width: 48%;
    padding: 64px 0px;
    margin-bottom: 14px;
  }
  .portfolio__picture:nth-child(1n + 9) {
    display: none;
  }
  .portfolio__picture1 {
    background: url(./image/mobile375/portfolio/portfolio-1.png) no-repeat;
  }
  .portfolio__picture2 {
    background: url(./image/mobile375/portfolio/portfolio-2.png) no-repeat;
  }
  .portfolio__picture3 {
    background: url(./image/mobile375/portfolio/portfolio-3.png) no-repeat;
  }
  .portfolio__picture4 {
    background: url(./image/mobile375/portfolio/portfolio-4.png) no-repeat;
  }
  .portfolio__picture5 {
    background: url(./image/mobile375/portfolio/portfolio-5.png) no-repeat;
  }
  .portfolio__picture6 {
    background: url(./image/mobile375/portfolio/portfolio-6.png) no-repeat;
  }
  .portfolio__picture7 {
    background: url(./image/mobile375/portfolio/portfolio-7.png) no-repeat;
  }
  .portfolio__picture8 {
    background: url(./image/mobile375/portfolio/portfolio-8.png) no-repeat;
  }
  .footer {
    width: 100vw;
  }
  .footer__wrapper {
    width: 100vw;
    display: flex;
    justify-content: center;
    padding: 0;
  }
  .footer__description {
    display: none;
  }
}
@media screen and (max-width: 321px) {
  .header__wrapper {
    width: 100vw;
  }
  .slider__wrapper {
    width: 100vw;
    padding: 10px 0px;
    margin: 0px;
  }
  .wrapper-arrow-left {
    padding-top: 15px;
    margin: 0px 0px 0 8px;
  }
  .vertical-phone {
    margin: 0px;
  }
  .horizontal-phone-wrapper {
    margin: 0px;
  }
  .horizontal-phone {
    margin: 0px;
  }
  .wrapper-arrow-right {
    padding-top: 15px;
    margin: 0px 8px 0 0px;
  }
  .portfolio__filter-list {
    padding-bottom: 25.5px;
    width: 270px;
  }
}
