@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");

:root {
  --wite: #ffffff;
  --active-item-navigation: #f06c64;
  --section-headers: #666d89;
  --simple-text: #767e9e;
  --portfolio-active-item: #dedede;
  --dark-background: #2d303a;
  --slider-main-background: #f06c64;
  --slider-main-shifted: #648bf0;
  --lite-background: #f2f2f2;
  --bprder-dark-color: #323746;
  --bprder-slider-main-color: #ea676b;
  --arrow-color: #e94348;
  --shade-color: #cd5d56;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}
* {
  margin: 0;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.h2 {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 3rem;
  line-height: 3.6rem;
  text-transform: capitalize;
  color: var(--section-headers);
}
.information {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 1.8rem;
  line-height: 3rem;
  color: var(--simple-text);
  text-align: left;
  vertical-align: top;
  letter-spacing: 0.01em;
}
.text {
  overflow: hidden;
}

/* Hamburger*/
.hamburger-wrapper {
  display: none;
}
.rotate {
  transform: rotate(90deg);
}
.hamburger {
  width: 25px;
  height: 20px;
  position: relative;
}
.hamburger_line {
  display: inline-block;
  background: var(--wite);
  border-radius: 5px;
  height: 2.4px;
  width: 100%;
  position: absolute;
  left: 0px;
  top: calc(50% - 1.5px);
}
.hamburger::before {
  content: "";
  display: inline-block;
  background: var(--wite);
  border-radius: 5px;
  height: 3px;
  width: 100%;
  position: absolute;
  left: 0px;
  top: 0;
}
.hamburger::after {
  content: "";
  display: inline-block;
  background: var(--wite);
  border-radius: 5px;
  height: 3px;
  width: 100%;
  position: absolute;
  left: 0px;
  bottom: 0px;
}

/* Header */
.header {
  width: 100vw;
  background-color: var(--dark-background);
  border-bottom: solid 6px var(--bprder-dark-color);
  display: flex;
  justify-content: center;
}
.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 29px 0 30px;
  max-width: 940px;
  min-width: 320px;
  width: 92.1%;
}
.logo {
  position: relative;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 2.5rem;
  line-height: 3rem;
  letter-spacing: -0.03em;
  text-transform: uppercase;
}
.logo__text {
  color: var(--wite);
}
.logo_star {
  position: absolute;
  top: 0;
  right: top;
  color: var(--active-item-navigation);
}
.header-navigation {
  width: 40%;
}
.navigation {
  display: flex;
  justify-content: space-between;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: bold;
  padding-top: 1.078vw;
  padding-left: 0;
  font-size: 1.2rem;
  line-height: 1.4rem;
  letter-spacing: -0.035em;
  text-transform: uppercase;
  color: var(--wite);
  margin: 0;
}
.navigation > .navigation__item {
  list-style: none;
  margin: 0;
}
.navigation__link:not(.navigation__active-item):hover {
  text-decoration: underline;
  cursor: pointer;
}
.navigation__link {
  text-decoration: none;
  color: var(--wite);
  position: relative;
  margin: 0;
}
.navigation__link:before {
  content: ".";
  position: absolute;
  top: -0.35rem;
  left: -1.75rem;
}
.navigation__first-item:before {
  content: " ";
}
.navigation__active-item {
  color: var(--active-item-navigation);
}

/* Slider animation */
.slider__element {
  position: absolute;
  top: 0px;
  left: -100vw;
  z-index: 1;
  width: 100vw;
  height: 101%;
  background: url(./image/slider/Slider.png) no-repeat center, #648bf0;
}

@keyframes pulse {
  0% {
    transform: translateX(0vw);
  }
  50% {
    transform: translateX(50vw);
  }
  100% {
    transform: translateX(100vw);
  }
}
.slider__element1 {
  animation-name: pulse;
  animation-duration: 5s;
  animation-timing-function: ease-out;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes pulse2 {
  0% {
    transform: translateX(200vw);
  }
  50% {
    transform: translateX(150vw);
  }
  100% {
    transform: translateX(100vw);
  }
}
.slider__element2 {
  animation-name: pulse2;
  animation-duration: 5s;
  animation-timing-function: ease-out;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}
@keyframes pulse3 {
  0% {
    transform: translateX(100vw);
  }
  50% {
    transform: translateX(150vw);
  }
  100% {
    transform: translateX(200vw);
  }
}
.slider__element3 {
  animation-name: pulse3;
  animation-duration: 5s;
  animation-timing-function: ease-out;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}
@keyframes pulse4 {
  0% {
    transform: translateX(100vw);
  }
  50% {
    transform: translateX(50vw);
  }
  100% {
    transform: translateX(0vw);
  }
}
.slider__element4 {
  animation-name: pulse4;
  animation-duration: 5s;
  animation-timing-function: ease-out;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

/* Slider */
.slider {
  width: 100vw;
  background-color: var(--slider-main-background);
  border-bottom: solid 6px var(--bprder-slider-main-color);
  display: flex;
  justify-content: center;
  position: relative;
}
.slider__wrapper {
  width: 92.1%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 5.32vw;
  padding-bottom: 8.04vw;
}
.wrapper-arrow-left {
  padding-top: 2.745vw;
  padding-left: 0.245vw;
  z-index: 10;
}
.arrow {
  width: 15px;
  height: 15px;
  border-top: 5px solid var(--arrow-color);
  border-right: 5px solid var(--arrow-color);
  border-radius: 3px;
}
.arrow:hover {
  border-top: 5px solid var(--wite);
  border-right: 5px solid var(--wite);
}
.arrow-left {
  transform: rotate(-135deg);
}
.vertical-phone-wrapper {
  position: relative;
  width: 23%;
  padding-bottom: 48.8%;
  margin-right: 5%;
}
.vertical-phone {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url(./image/slider/phone-vertical.png) no-repeat center;
  background-size: cover;
  border-radius: 25px;
  box-shadow: 24px 24px 1px 1px var(--shade-color);
}
.vertical-phone__screen {
  position: absolute;
  top: 14%;
  left: 6.6%;
  width: 87%;
  height: 73%;
  background: url(./image/slider/phone-vertical-display.png) no-repeat center;
  background-size: cover;
}
.horizontal-phone-wrapper {
  position: relative;
  width: 48.8%;
  padding-bottom: 23%;
  margin-right: 2.4%;
}
.horizontal-phone {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url(./image/slider/phone-horizontal.png) no-repeat;
  background-size: cover;
  border-radius: 25px;
  box-shadow: 24px 24px 1px 1px var(--shade-color);
}
.horizontal-phone__screen {
  position: absolute;
  top: 6.5%;
  left: 13%;
  width: 73%;
  height: 87%;
  background: url(./image/slider/phone-horizontal-display.png);
  background-size: cover;
}
.wrapper-arrow-right {
  padding-top: 2.745vw;
  padding-right: 0.294vw;
  z-index: 10;
}
.arrow-right {
  transform: rotate(45deg);
}

/* Services */
.services {
  width: 100vw;
  background-color: var(--lite-background);
  border-bottom: solid 6px var(--wite);
  display: flex;
  justify-content: center;
  padding-top: 5.784vw;
  padding-bottom: 2.4vw;
  margin: 0;
}
.services__wrapper {
  width: 92.1%;
}
.services__header {
  padding-bottom: 1.764vw;
}
.services__information {
  width: 100%;
  height: 14%;
  overflow: hidden;
}
.services-list {
  margin-top: 5.35%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-left: 0;
}
.services__item {
  display: flex;
  justify-content: space-between;
  width: 32%;
  margin-bottom: 2.843vw;
}
.services__icon {
  width: 60px;
  height: 60px;
}
.services__icon1 {
  background: url(./image/services/services-item-pencil.png) no-repeat;
  background-size: cover;
}
.services__icon2 {
  background: url(./image/services/services-item-lightbulb.png) no-repeat;
  background-size: cover;
}
.services__icon3 {
  background: url(./image/services/services-item-heart.png) no-repeat;
  background-size: cover;
}
.services__icon4 {
  background: url(./image/services/services-item-phone.png) no-repeat;
  background-size: cover;
}
.services__icon5 {
  background: url(./image/services/services-item-thought.png) no-repeat;
  background-size: cover;
}
.services__icon6 {
  background: url(./image/services/services-item-star.png) no-repeat;
  background-size: cover;
}
.services_text {
  width: 73.2%;
}
.services__name {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 1.8rem;
  line-height: 1.8rem;
  text-transform: capitalize;
  color: var(--section-headers);
  padding-bottom: 0.98vw;
}
.services_description {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 2.2rem;
  color: var(--simple-text);
  text-align: justify;
  letter-spacing: 0em;
  width: 100%;
  height: 70%;
  overflow: hidden;
}

/* Portfolio */
.portfolio {
  width: 100vw;
  background-color: var(--dark-background);
  border-bottom: solid 6px var(--bprder-dark-color);
  display: flex;
  justify-content: center;
  padding-top: 5.784vw;
}
.portfolio__wrapper {
  width: 92.1%;
}
.portfolio__header {
  padding-bottom: 1.764vw;
}
.portfolio__information {
  padding-bottom: 1.127vw;
}
.portfolio__filter-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 290px;
  padding-bottom: 1.764vw;
}
.portfolio__item {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 2rem;
  padding: 0px 5.5px;
  color: var(--simple-text);
  border: 1px solid var(--simple-text);
  border-radius: 5px;
  letter-spacing: -0.01em;
}
.portfolio__item:not(.portfolio__active-item):hover {
  color: var(--wite);
  border: 1px solid var(--wite);
  cursor: pointer;
}
.portfolio__active-item {
  color: var(--portfolio-active-item);
  border: 1px solid var(--portfolio-active-item);
}
.portfolio__pictures-holder {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 4.7vw;
}
.portfolio__picture {
  width: 23.4%;
  padding-top: 20%;
  margin-bottom: 20px;
}
.portfolio__picture:nth-child(1n + 13) {
  display: none;
}
.portfolio__picture1 {
  background: url(./image/portfolio/portfolio-1.png) no-repeat;
  background-size: cover;
}
.portfolio__picture2 {
  background: url(./image/portfolio/portfolio-2.png) no-repeat;
  background-size: cover;
}
.portfolio__picture3 {
  background: url(./image/portfolio/portfolio-3.png) no-repeat;
  background-size: cover;
}
.portfolio__picture4 {
  background: url(./image/portfolio/portfolio-4.png) no-repeat;
  background-size: cover;
}
.portfolio__picture5 {
  background: url(./image/portfolio/portfolio-5.png) no-repeat;
  background-size: cover;
}
.portfolio__picture6 {
  background: url(./image/portfolio/portfolio-6.png) no-repeat;
  background-size: cover;
}
.portfolio__picture7 {
  background: url(./image/portfolio/portfolio-7.png) no-repeat;
  background-size: cover;
}
.portfolio__picture8 {
  background: url(./image/portfolio/portfolio-8.png) no-repeat;
  background-size: cover;
}
.portfolio__picture9 {
  background: url(./image/portfolio/portfolio-9.png) no-repeat;
  background-size: cover;
}
.portfolio__picture10 {
  background: url(./image/portfolio/portfolio-10.png) no-repeat;
  background-size: cover;
}
.portfolio__picture11 {
  background: url(./image/portfolio/portfolio-11.png) no-repeat;
  background-size: cover;
}
.portfolio__picture12 {
  background: url(./image/portfolio/portfolio-12.png) no-repeat;
  background-size: cover;
}

/* Footer */
.footer {
  width: 100vw;
  display: flex;
  justify-content: center;
  padding-top: 22px;
  padding-bottom: 22px;
  background-color: var(--dark-background);
}
.footer__wrapper {
  width: 92.1%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__description {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 1.3rem;
  line-height: 1.8rem;
  color: var(--section-headers);
}
.social-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 152px;
}
.social-buttons__icon {
  width: 32px;
  padding: 16px 0px;
}
.social-buttons__facebook {
  background: url(./image/footer/ico-facebook.png);
}
.social-buttons__google-plus {
  background: url(./image/footer/ico-google-plus.png);
}
.social-buttons__twitter {
  background: url(./image/footer/ico-twitter.png);
}
.social-buttons__linkedin {
  background: url(./image/footer/ico-linkedin.png);
}
.social-buttons__icon:hover {
  filter: grayscale(100%);
  cursor: pointer;
}

@media screen and (max-width: 1019px) {
  .header__wrapper {
    width: 89.583%;
    padding: 29px 0 30px 0;
  }
  .header-navigation {
    width: 54%;
  }
  .slider__wrapper {
    width: 92.55%;
    padding: 40px 0 58px;
  }
  .vertical-phone {
    border-radius: 18px;
    box-shadow: 18px 18px 1px 1px var(--shade-color);
  }
  .horizontal-phone {
    border-radius: 18px;
    box-shadow: 18px 18px 1px 1px var(--shade-color);
  }
  .services {
    padding-top: 40.5px;
    padding-left: 2px;
    padding-bottom: 27px;
  }
  .services__wrapper {
    width: 89.583%;
  }
  .services__header {
    padding-bottom: 2vw;
  }
  .services__information {
    width: 100%;
    height: 16%;
    overflow: hidden;
  }
  .services-list {
    padding-right: 34px;
    margin-top: 5.1%;
  }
  .services__item {
    display: flex;
    justify-content: space-between;
    width: 46%;
    margin-bottom: 50px;
  }
  .portfolio {
    padding-top: 59.5px;
    padding-bottom: 25px;
  }
  .portfolio__wrapper {
    width: 89.583%;
    padding-left: 1px;
  }
  .portfolio__header {
    padding-bottom: 17px;
  }
  .portfolio__information {
    padding-bottom: 13px;
    padding-right: 20px;
    letter-spacing: 0.2px;
  }
  .portfolio__pictures-holder {
    margin-left: -2px;
  }
  .portfolio__picture {
    width: 31.4%;
    padding: 13.3% 0px;
    margin-top: 15px;
    margin-bottom: 5px;
  }
  .footer__wrapper {
    width: 89.583%;
    padding-top: 2px;
  }
}

@media screen and (max-width: 767px) {
  .header__wrapper {
    width: 100vw;
    position: relative;
    padding: 24.5px 0 16px 3px;
    display: flex;
    justify-content: center;
  }
  .hamburger {
    display: inline-block;
  }
  .hamburger-wrapper {
    display: inline-block;
    position: absolute;
    left: 21px;
    top: calc(50% - 6px);
  }
  .header-navigation {
    position: absolute;
    top: 70px;
    left: 0;
    z-index: 1;
    width: 278px;
    height: calc(100vh - 71px);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: var(--dark-background);
    z-index: 10;
  }
  .header-navigation-hidden {
    display: none;
  }
  .navigation {
    list-style: none;
    margin-right: 78px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: bold;
    padding-bottom: 10px;
    font-size: 2.4rem;
    line-height: 2.9rem;
    letter-spacing: -0.035em;
    text-transform: uppercase;
    margin-top: 8%;
  }
  .navigation__item {
    text-decoration: none;
    padding-bottom: 22.5%;
    color: var(--wite);
  }
  .navigation__active-item {
    color: var(--slider-main-background);
  }
  .navigation__link:before {
    content: " ";
  }
  .logo {
    position: relative;
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 1.96rem;
    line-height: 2.4rem;
    letter-spacing: -0.03em;
    text-transform: uppercase;
  }
  .logo-shift {
    margin-right: 40%;
  }
  .slider {
    border-bottom: solid 6px var(--slider-main-background);
    padding: 0px;
    margin: 0px;
  }
  .slider__wrapper {
    padding: 19.5px 0px 27.5px 0.33px;
  }
  .vertical-phone {
    box-shadow: 10px 10px 1px 1px var(--shade-color);
    border-radius: 10px;
    margin-left: -4px;
  }
  .horizontal-phone {
    box-shadow: 10px 10px 1px 1px var(--shade-color);
    border-radius: 10px;
    margin-left: 2px;
    margin-bottom: 2px;
  }
  .services {
    width: 100vw;
    padding-top: 24px;
    padding-left: 3px;
    padding-bottom: 0px;
    border-bottom: solid 6px var(--lite-background);
    margin-bottom: 0;
  }
  .services__wrapper {
    width: 83.7%;
  }
  .services__information {
    padding-top: 10px;
    padding-bottom: 25px;
    height: 20%;
  }
  .services-list {
    padding-right: 15px;
  }
  .services__item {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 25px;
  }
  .services__item:last-child {
    padding-bottom: 0px;
    margin-bottom: 10px;
  }
  .services_text {
    width: 73%;
  }
  .services__name {
    padding-bottom: 10px;
  }
  .services_description {
    letter-spacing: 0em;
    line-height: 2.2rem;
    text-align: justify;
  }
  .portfolio {
    width: 100vw;
    padding-top: 43px;
    border-bottom: solid 6px var(--dark-background);
  }
  .portfolio__wrapper {
    width: 84%;
  }
  .portfolio__filter-list {
    padding-bottom: 10px;
  }
  .portfolio__information {
    padding-bottom: 14px;
    padding-right: 0px;
  }
  .portfolio__picture {
    width: 47.8%;
    padding-top: 26.8%;
    margin-bottom: 0px;
  }
  .portfolio__picture:nth-child(1n + 9) {
    display: none;
  }
  .footer {
    width: 100vw;
    padding-top: 12px;
  }
  .footer__wrapper {
    width: 100vw;
    display: flex;
    justify-content: center;
    padding: 0;
  }
  .footer__description {
    display: none;
  }
}
@media screen and (max-width: 374px) {
  .header__wrapper {
    width: 100vw;
  }
  .slider__wrapper {
    width: 100vw;
    padding: 10px 0px;
    margin: 0px;
  }
  .wrapper-arrow-left {
    padding-top: 15px;
    margin: 0px 0px 0 8px;
  }
  .vertical-phone {
    margin: 0px;
  }
  .horizontal-phone-wrapper {
    margin: 0px;
  }
  .horizontal-phone {
    margin: 0px;
  }
  .wrapper-arrow-right {
    padding-top: 15px;
    margin: 0px 8px 0 0px;
  }
  .portfolio__filter-list {
    padding-bottom: 25.5px;
    width: 270px;
  }
}
