* {
  box-sizing: border-box;
  margin: 0;
}
.body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Noto Sans JP", sans-serif;
  color: #ffffff;
  background: no-repeat;
}
.time {
  font-size: 8rem;
}
.greeting,
.focus {
  font-size: 2rem;
  margin: 20px;
}

@media screen and (max-width: 768px) {
  .time {
    font-size: 4rem;
  }
  .greeting,
  .focus {
    font-size: 1.5rem;
    margin: 20px;
  }
}
